@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.slider-text {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 13%;
}
.banner-first-line {
  height: 70px;
  width: 3px;
  background-color: black;
  margin-right: 18px;
}
.banner-second-line {
  margin-top: 8px;
  height: 2px;
  width: 50px;
  background-color: black;
}
.first-div {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.second-div {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.third-div {
  font-size: 85px;
  line-height: 95px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.banner-btn {
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  background-color: #ff6f00;
  border: 0;
}
/* ====================================================== */
.shop-by-text {
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
}
.shop-by-gray-text {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  color: rgb(100, 116, 139);
}
.shop-by-colored {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 6px;
}
.shopBy-underline1 {
  width: 48px;
  height: 2px;
  background: #ff6f00;
}
.shopBy-underline2 {
  width: 125px;
  height: 1px;
  background: black;
}
.shop-by-hover,
.shopBy-underline2 {
  transition: all ease-in-out 0.5s;
}
.shop-by-hover:hover .shopBy-underline2 {
  background: #ff6f00;
}
.photo-text-shop-by {
  position: absolute;
  bottom: 5%;
  left: 38.5%;
  font-weight: 600;
}
.inside-box-shop-by-1{
  position: absolute;
  top: 15%;
  left: 14%;
  border: 2px solid black;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inside-box-shop-by-2{
  position: absolute;
  top: 15%;
  left: 14%;
  border: 2px solid white;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-box-shop-by{
  overflow: hidden;
}
.img-section-shop-by{
  transition: all linear .5s;
}
.image-box-shop-by:hover .img-section-shop-by{
  overflow: hidden;
  transform: scale(1.2);
}
.inside-btn-shop-by{
  background-color: #ff6f00;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 600;
  transition: all linear .5s;
}
.inside-btn-shop-by:hover{
  background-color: #db6206;
}